/* app css stylesheet */

#map {
  color: #3d3d3d;
  min-width: 720px;
  height: 670px;
  z-index: 1000;
  border-bottom: solid 6px #e0e0e0;
  /*
  -moz-box-shadow:    0px 15px 33px #383838;
  -webkit-box-shadow: 0px 15px 33px #383838;
  box-shadow:         0px 15px 33px #383838;
  */
}

@media (min-width: 768px) {
  #map {
    height: 550px;
  }
}

.text-block {
  margin: 50px 500px 100px 500px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 18px;
}