<div id='map' class="map"></div>

<div class="text-block">
    <p>This service is a part of a master's thesis at NTNU, made by Mikael Rino Solstad and Martin Almvik. The goal is
        to create a service which is able to predict the global spread of influenza through air traffic with the use of
        twitter for detecting outbreaks.
        The map above shows a basic representation of the flu occurrences collected through api.flutrack.org. A darker
        shade of blue means more flu occurrences in that area.</p>
</div>
<div class="text-block">
    <p>The service will have a back-end currently in development, which will organize Twitter data, as well as doing necessary calculations for predicting pandemics.</p>
</div>