<div id='map' class="map"></div>
<div class="slider-container" data-ng-show="vm.sliderReady">
    <div class="slider-text">Day (0-440):</div>
    <rzslider rz-slider-model="vm.predictionSlider.value" rz-slider-options="vm.predictionSlider.options" class="slider"></rzslider>
</div>
<div class="text-block" data-ng-show="!vm.isEpidemic">
    <p>Right now, there are no cities with an epidemic, but here's an example of how the spread would have looked if there were an epidemic in Honolulu!</p>
</div>
<div class="text-block">
    <p>This web page is part of the results from a Master's thesis written by Martin Almvik and Mikael Rino Solstad at
        NTNU. The system scans tweets, and calculates and visualizes the spread of a potential influenza pandemic from a
        certain city, given that a city has experienced an influenza epidemic. The slider above chooses which day to
        visualize on the map.
    </p>
    <p>
        The table below contains all the city represented in the system, and shows how many influenza related tweets
        have been found from each of them. If a city has an increasing trend, it's highlighted in yellow, while it's
        highlighted in red if our system has detected an influenza epidemic in that city.
    </p>
</div>
<div class="table-container" data-ng-cloak>
    <div class="table-row">
        <div class="table-column"><b>Cities</b></div>
        <div class="table-column" data-ng-repeat="week in vm.trends[0].weeks track by $index">
            <b data-ng-if="$index==7">Current week</b>
            <b data-ng-if="$index==6">1 week ago</b>
            <b data-ng-if="$index<6">{{ 7 - $index }} weeks ago</b>
        </div>
    </div>
    <div class="table-row" data-ng-style="vm.bgColor($index)" data-ng-repeat="city in vm.trends">
        <div class="table-column">{{city.city}}</div>
        <div class="table-column" data-ng-repeat="week in city.weeks track by $index">
            {{week}}
        </div>
    </div>
</div>